@import "colors";

$header-background-color: $primary-color;

@mixin header {
  background: $header-background-color;
  height: 3rem;
  width: 100%;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow: hidden;
}


@mixin container {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
}

@mixin content {
  margin-top: 3rem;
}

@mixin listContainer {
  padding: 1rem;
  list-style-type: none;
}

@mixin listItem {
  text-decoration: none;
  color: $primary-text-color;
  padding: 0.5rem;
  max-width: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.2rem 0 $primary-color;
  word-break: break-all;
}

@mixin listItemTitle {
  color: $primary-color;
  display: block;
  overflow: hidden;
  margin: 0;
}
