@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";

.search-result-item {
  @include listItem;

  &__full-name {
    @include listItemTitle;
  }

  &__counts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .icon {
      text-align: center;
      &__logo, &__text {
        display: block;
      }
    }
  }
}
