$primary-color: #E91E63;
$secondary-color:#8BC34A;
$light-primary-color: #F8BBD0;
$dark-primary-color: #C2185B;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$icon-color: #FFFFFF;
